* {
  box-sizing: border-box;

}

*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


ul,
ol {
  list-style: none;
}

body {
  background-color: #eee;
}

.globalHeader {
  margin: 20px;
}

.searchForm {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}


.searchForm>input {
  width: 100%;
  width: 238.33px;
  height: 40px;
  margin-right: 10px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;

}

.searchForm>button {
  font-size: 18px;
  width: 70.48px;
  white-space: nowrap;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  background-color: #0079bd;
  color: white;
}

body {
  background: url(./123.jpg) no-repeat 50% 25%;
}

.globalMain {}

.siteList {
  display: flex;
  flex-wrap: wrap;
  margin: 20;
  /* justify-content: space-between; */
  justify-content: flex-start;
  /* border: 1px solid red; */
}



.siteList .site {
  position: relative;
  width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: white;
  border: 1px solid #ddd; */
  border-radius: 4px;
  cursor: pointer;
  color: rgb(13, 13, 14);
  transition: background-color .3s ease .1s;
}

.siteList .site>.logo {

  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}

.siteList .site>.link {
  position: relative;
  top: -11px;
  font-size: 18px;
  width: 147px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.siteList .addButton {
  width: 150px;
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: white; */
  /* border: 1px solid #ddd; */
  color: rgb(2, 2, 2);
  transition: background-color 0.15 ease .1s;


}


.imgcontainer {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}

.imgicon {
  position: relative;
  top: -10px;
}

.siteList .addButton .icon {
  width: 56px;
  height: 56px;
}

.siteList .addButton .text {
  font-size: 14px;
  margin-top: 4px;
}

.siteList .addButton .icon-wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.img {
  position: relative;
  top: 35px;
  max-width: 100%;
  max-height: 100%;
  width: 56px;
  height: 56px;
  padding: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
}


.site .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;

}

.site .close>.closeimg {
  position: absolute;
  right: 3px;
  top: 3px;
}

.siteList>li {
  margin-left: 11px;
  padding: 11px;

}

@media (max-width:500px) {
  .siteList .addButton {

    background-color: white;

  }

  .siteList .site {

    background-color: white;
    border: 1px solid #ddd;

  }

}


@media (min-width:500px) {
  .searchForm {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .globalMain {
    min-width: 545px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .siteList {
    display: flex;
    flex-wrap: wrap;
    margin: 20;
    /* border: 1px solid red; */
  }

  .site .close {
    display: none;
  }

  .addButton:hover {

    background-color: white;
    color: black;
  }


  .site:hover>.close {
    display: initial;
    cursor: default;
    /* background-color: white; */

  }

  .site:hover {

    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(0, 0, 0); */
    color: rgb(0, 0, 0);

  }

  .site:hover>.close {
    display: initial;
    cursor: default;
    /* background-color: white; */


  }
}